@model IEnumerable<Aksje>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />
<div class="border">
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">Mine Aksjer</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-action="Kjøp" class="btn btn-info">Kjøp Ny Aksje</a>
        </div>
    </div>
    <br />
    <div>
        @if (Model.Count() > 0)
        {
            <table class="table table-striped border">
                <tr class="table-secondary">    
                    <th>
                        @Html.DisplayNameFor(m=>m.Navn)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m=>m.Pris)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m=>m.Antall)
                    </th>
                    <th></th>
                    <th></th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m=>item.Navn)
                        </td>
                        <td>
                            @Html.DisplayFor(m=>item.Pris)
                        </td>
                        <td>
                            @Html.DisplayFor(m=>item.Antall)
                        </td>
                        <div class="text-right">
                        <td>
                            <a class="btn btn-info" style="width:120px" asp-action="">Endre Antall</a>
                        </td>
                        <td>
                            <a class="btn btn-danger" style="width:120px" asp-action="Slett" asp-route-id="@item.Id">Selg Alt</a>
                        </td>
                        </div>  
                    </tr>
                }
            </table>
        }
        else
        {
            <p>Ingen kjøpte aksjer...</p>
        }
    </div>
</div>